<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionar</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title id="texto1">Informações do veículo:</ion-title>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
          <ion-input 
          label="Marca" 
          label-placement="floating" 
          fill="outline"
          [clearInput]="true"
          color="senac-orange"
          placeholder='Ex: "Chevrolet"'
          [counter]="true" 
          maxlength="20"
          [(ngModel)]="marca"
          >
            <div slot="label">Marca: <ion-text color="danger">(Obrigatório)</ion-text></div>
          </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-input label="Modelo" 
          label-placement="floating" 
          fill="outline"
          [clearInput]="true"
          placeholder='Ex: "Corsa"'
          [counter]="true" 
          maxlength="20"
          color="senac-orange"
          [(ngModel)]="modelo"
          >
            <div slot="label">Modelo: <ion-text color="danger" >(Obrigatório)</ion-text></div>
          </ion-input>
      </ion-col>
    </ion-row>

 

    <ion-row>
      <ion-col id="coluna">
        <ion-label>Selecione o ano do modelo:</ion-label>
        <ion-datetime-button datetime="datetime" color="senac-orange"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true" class="no-gradient-modal">
          <ng-template>
            <ion-datetime
              id="datetime"
              presentation="year"  
              [(ngModel)]="ano"
              color="senac-orange"
              [style]="'--background: var(--ion-color-senac-blue)'"
              [formatOptions]="{ year: 'numeric' }"  
            ></ion-datetime>
          </ng-template>
        </ion-modal>

        
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button id="botaoSalvar" expand="block" (click)="salvar()">
          Salvar
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
