/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


// root
:root {
    //root senac blue color
	--ion-color-senac-blue: #004A8D;
	--ion-color-senac-blue-rgb: 0,74,141;
	--ion-color-senac-blue-contrast: #ffffff;
	--ion-color-senac-blue-contrast-rgb: 255,255,255;
	--ion-color-senac-blue-shade: #00417c;
	--ion-color-senac-blue-tint: #1a5c98;

    // root of senac orange color
    --ion-color-senac-orange: #F7941D;
	--ion-color-senac-orange-rgb: 247,148,29;
	--ion-color-senac-orange-contrast: #000000;
	--ion-color-senac-orange-contrast-rgb: 0,0,0;
	--ion-color-senac-orange-shade: #d9821a;
	--ion-color-senac-orange-tint: #f89f34;
}

// property of senac blue color
.ion-color-senac-blue {
	--ion-color-base: var(--ion-color-senac-blue);
	--ion-color-base-rgb: var(--ion-color-senac-blue-rgb);
	--ion-color-contrast: var(--ion-color-senac-blue-contrast);
	--ion-color-contrast-rgb: var(--ion-color-senac-blue-contrast-rgb);
	--ion-color-shade: var(--ion-color-senac-blue-shade);
	--ion-color-tint: var(--ion-color-senac-blue-tint);
}

// property of senac orange color
.ion-color-senac-orange {
	--ion-color-base: var(--ion-color-senac-orange);
	--ion-color-base-rgb: var(--ion-color-senac-orange-rgb);
	--ion-color-contrast: var(--ion-color-senac-orange-contrast);
	--ion-color-contrast-rgb: var(--ion-color-senac-orange-contrast-rgb);
	--ion-color-shade: var(--ion-color-senac-orange-shade);
	--ion-color-tint: var(--ion-color-senac-orange-tint);
}

.secondary{
    color: red !important;
}
.alert-message {
	white-space: pre-line; // Faz o \n funcionar
  }

  ion-header {
    padding-top: env(safe-area-inset-top); /* Adapta ao espaço seguro */
    background: #004A8D; /* Ou qualquer outra cor escura */
}
@media screen and (max-width: 768px) { 
    ion-header {
      padding-top: 25px; /* Ajuste manual se necessário */
    }
}

ion-datetime {
    --background: var(0, 74, 141, 0) !important;
    --background-rgb: 0, 74, 141 !important; /* Remove o gradiente escuro */
	color:#f6f8fc;

    /* Remove o overlay dos dias */
    &::part(calendar-day active) {
      background: transparent !important;
    }
    
    /* Remove o highlight do cabeçalho */
    .datetime-header {
      background: transparent !important;
    }
    
    /* Remove gradiente dos botões */
    .datetime-highlight {
      background: transparent !important;
      box-shadow: none !important;
    }
    
    /* Remove sombras e efeitos */
    .datetime-wrapper {
      box-shadow: none !important;
      background: transparent !important;
    }
  }